<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UsersMapper">
    <!-- SQL语句 -->
    <insert id="insertUser" parameterType="com.example.demo.pojo.Users">
        insert into users(name,age) values (#{name},#{age})
    </insert>

    <select id="selectUsersAll" resultType="com.example.demo.pojo.Users">
        select * from users
    </select>

    <select id="selectUsersById" resultType="com.example.demo.pojo.Users" parameterType="java.lang.Integer">
        select * from users where id=#{id}
    </select>

    <update id="updateUser" parameterType="com.example.demo.pojo.Users">
        update users set name=#{name},age=#{age} where id=#{id}
    </update>

    <delete id="deleteUser" parameterType="com.example.demo.pojo.Users" >
        delete from users where id=#{id}
    </delete>
</mapper>
