<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1" style="width: 300px">
        <tr>
            <th>用户ID</th>
            <th>用户姓名</th>
            <th>用户年龄</th>
            <th>用户操作</th>
        </tr>
        <tr th:each="li:${list}">
            <td th:text="${li.id}"></td>
            <td th:text="${li.name}"></td>
            <td th:text="${li.age}"></td>
            <td>
                <a th:href="@{/users/findUserById(id=${li.id})}">更新</a>
                <a th:href="@{/users/deleteUserById(id=${li.id})}">删除</a>
            </td>
        </tr>
    </table>
</body>
</html>
